<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/static/styles.css" type="text/css" rel="stylesheet"/>
<main>
</head>
<body>
    <h1>Trifecta Properties</h1>
    <h2>Triple Your Opportunities with Trifecta Properties</h2>
    <p>Welcome to Trifecta Properties, where we specialize in transforming houses into homes. Our mission is to buy, renovate, and rent properties that meet the highest standards of comfort and quality. We pride ourselves on fostering long-term relationships with our tenants, built on mutual respect and open communication. At Trifecta Properties, we believe that a home is more than just a place to live; it's a foundation for a thriving community. Whether you’re looking for a new place to call home or a reliable partner in real estate investment, we’re here to guide you every step of the way. Join us in creating spaces where families can grow and thrive! </p>
    <div class="communication">
        <p>Phone: 773-***-****</p><p>Email:Cj***************.com</p><p>Follow Me: Handle</p>
    </div>
    <h3>Illinois Fair Hoising Statement</h3>
    <p>At Trifecta Properties, we are committed to upholding the principles of the Fair Housing Act and the Illinois Human Rights Act. We believe in providing equal housing opportunities to all individuals, regardless of race, color, religion, sex, national origin, familial status, disability, sexual orientation, gender identity, or any other characteristic protected by law.</p><p>We do not discriminate in any aspect of the rental process, including advertising, application, or tenant selection. Our goal is to create a welcoming and inclusive community for everyone. If you believe you have experienced discrimination or have any questions about your rights under the Fair Housing laws, please do not hesitate to contact us.</p><p>Together, we can ensure that everyone has access to safe and affordable housing.</p>
    <div class="logo">
    <img src="/static/images/Trifecta Logos (1).png">
    </div>
</body>
</main>
</html>